<header>
  <app-slider />
  <nav>
    <img src="assets/img/logo.svg" alt="Logo">
    <ul>
      <li>
        <app-link link="#" tipo="nav-link" nome="Product" />
      </li>
      <li>
        <app-link link="#" tipo="nav-link" nome="Solutions" />
      </li>
      <li>
        <app-link link="#" tipo="nav-link" nome="Pricing" />
      </li>
      <li>
        <app-link link="#" tipo="nav-link" nome="Resources" />
      </li>
      <li>
        <app-link link="#" tipo="nav-link" nome="Company" />
      </li>
    </ul>
    <div>
      <app-button nome="Sign in" />
      <app-button tipo="primary" nome="Schedule demo" />
    </div>
  </nav>
</header>
