<app-container fundo="black image-1">
  <h1>
    All your internal support needs.
    <br>
    One conversational ITSM solution.
  </h1>
  <p class="spacing">A digital workplace experience solution with an AI assistant, modern IT service desk, and automated business workflows</p>
  <p>— so you can reduce costs, maximize productivity and deliver great employee experiences.</p>
  <div>
    <app-button tipo="primary size" nome="Request a demo" />
  </div>
  <div class="container">
    <div>
      <span>The present</span>
      <img src="../../../assets/img/img-left.png" alt="Left">
    </div>
    <div>
      <span>The future</span>
      <img src="../../../assets/img/img-right.png" alt="Right">
    </div>
  </div>
</app-container>
