<app-container fundo="black pb-40" id="#footer">
  <div class="container">
    <!-- LINKS COLUMN 1 -->
    <div class="container-links">
      <div class="links">
        Product
        <div>
          <app-link link="#footer" nome="Overview" />
          <app-link link="#footer" nome="Pricing" />
          <app-link link="#footer" nome="Integrations" />
          <app-link link="#footer" nome="Support" />
          <app-link link="#footer" nome="Sign in" />
        </div>
      </div>
      <div class="links">
        Blogs
        <div>
          <app-link link="#footer" nome="IT service management" />
          <app-link link="#footer" nome="Conversational AI" />
          <app-link link="#footer" nome="Employee experience" />
          <app-link link="#footer" nome="Employee success" />
          <app-link link="#footer" nome="Building Atomicwork" />
        </div>
      </div>
    </div>

    <!-- LINKS COLUMN 2 -->
    <div class="container-links">
      <div class="links">
        Features
        <div>
          <app-link link="#footer" nome="Instant answers" />
          <app-link link="#footer" nome="Modern requests" />
          <app-link link="#footer" nome="Automated workflows" />
          <app-link link="#footer" nome="Employee journeys" />
          <app-link link="#footer" nome="Incident management" />
          <app-link link="#footer" nome="Atom skills" />
          <app-link link="#footer" nome="Explore all features" />
        </div>
      </div>
      <div class="links">
        Guides
        <div>
          <app-link link="#footer" nome="Conversational ITSM" />
          <app-link link="#footer" nome="AI in IT support" />
          <app-link link="#footer" nome="Employee self-service" />
          <app-link link="#footer" nome="Enterprise service" />
          <app-link link="#footer" nome="ITIL V4" />
        </div>
      </div>
    </div>

    <!-- LINKS COLUMN 3 -->
    <div class="container-links">
      <div class="links">
        Use cases
        <div>
          <app-link link="#footer" nome="IT help desk" />
          <app-link link="#footer" nome="HR service delivery" />
          <app-link link="#footer" nome="Employee self-service" />
        </div>
      </div>
      <div class="links">
        Teams
        <div>
          <app-link link="#footer" nome="For IT support" />
          <app-link link="#footer" nome="For HR operations" />
          <app-link link="#footer" nome="For internal operations" />
        </div>
      </div>
      <div class="links">
        Initiatives
        <div>
          <app-link link="#footer" nome="Conversational AI support" />
          <app-link link="#footer" nome="IT knowledge management" />
          <app-link link="#footer" nome="IT workflow automation" />
        </div>
      </div>
    </div>

    <!-- LINKS COLUMN 4 -->
    <div class="container-links">
      <div class="links">
        Integrations
        <div>
          <app-link link="#footer" nome="Atomicwork for Slack" />
          <app-link link="#footer" nome="Atomicwork for MS Teams" />
          <app-link link="#footer" nome="Atomicwork for Azure AD" />
          <app-link link="#footer" nome="Explore all integrations" />
        </div>
      </div>
      <div class="links">
        Legal
        <div>
          <app-link link="#footer" nome="Terms of service" />
          <app-link link="#footer" nome="Privacy policy" />
          <app-link link="#footer" nome="Security and compliance" />
        </div>
      </div>
    </div>

    <!-- LINKS COLUMN 5 -->
    <div class="container-links">
      <div class="links">
        Resources
        <div>
          <app-link link="#footer" nome="Blog" />
          <app-link link="#footer" nome="Podcast" />
          <app-link link="#footer" nome="Community" />
          <app-link link="#footer" nome="Newsletter" />
          <app-link link="#footer" nome="Help Center" />
        </div>
      </div>
      <div class="links">
        Company
        <div>
          <app-link link="#footer" nome="About" />
          <app-link link="#footer" nome="Careers" />
          <app-link link="#footer" nome="Contact" />
        </div>
      </div>
    </div>
  </div>
  <footer>
    <span>© Atomicwork Inc.</span>
    <div class="social">
      Social
      <div class="redes">
        <app-social-link link="#footer" url="assets/img/twitter.svg" />
        <app-social-link link="#footer" url="assets/img/instagram.svg" />
        <app-social-link link="#footer" url="assets/img/linkedin.svg" />
      </div>
    </div>
  </footer>
</app-container>
