.container {
  display: flex;
  justify-content: space-between;

  & .container-links {

    & .links {
      display: flex;
      flex-direction: column;
      gap: 12px;
      min-width: 208px;
      margin-bottom: 40px;

      & div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

footer {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--white015);

  & span {
    opacity: .5;
    font-size: 14px;
  }

  & .social {
    display: flex;
    align-items: center;
    gap: 24px;

    & .redes {
      display: flex;
      gap: 8px;
    }
  }
}

@media (max-width: 1090px) {
  .container-links:nth-child(5) {
    display: none !important;
  }
}

@media (max-width: 920px) {
  .container-links:nth-child(4) {
    display: none !important;
  }
}

@media (max-width: 660px) {
  .container-links:nth-child(3) {
    display: none !important;
  }
}

@media (max-width:440px) {
  .container-links:nth-child(2) {
    display: none !important;
  }

  .container-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .links {
    min-width: 140px !important;
  }
}

@media (max-width: 340px) {
  .container-links {
    flex-direction: column;
    align-items: center;
  }
}

/* @media (max-width: 1024px) {
  .container {
    display: none !important;
  }
} */
