section {
  padding: 120px;
}

.black {
  background-color: var(--black);
  color: var(--white);

  &.image-1 {
    background-image: url("../../../assets/img/bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.image-2 {
    background-image: url("../../../assets/img/bg-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
  }

  &.pb-40 {
    padding-bottom: 40px;
  }
}

.purple {
  background-color: var(--purple-light);
}

@media (max-width: 1440px) {
  section {
    padding: 48px;
  }
}

@media (max-width: 1024px) {
  section {
    padding: 40px 16px;
  }
}
