button {
  border: none;
  background-color: transparent;
  font-size: var(--paragraph);
  color: var(--white);
  font-weight: 600;
  padding: 12px 24px;
  cursor: pointer;
  transition: all .2s ease;
  border-radius: 100px;
  white-space: nowrap;

  &:hover {
    transform: translateY(-3px);
  }

  &.primary {
    background: var(--gradient);
  }
}
