<app-container fundo="black image-2">
  <div class="container">
    <app-texto-destaque
      tag="The atomicwork platform"
      titulo="A single powerful platform for all your enterprise service needs"
      subtitulo="Bring all of your internal processes together and align them with your business objectives. Deploy a single solution that works for all of your teams and departments."
    />
    <app-grid-cards grid="grid-4">
      <app-card
        class="card bg-2 card-1"
        titulo="Automatically solve common issues with Atom skills"
        descricao="Unburden your IT team and enable your employees to help themselves through AI skills. Atom can reset passwords, unlock accounts, troubleshoot VPN issues, add users to mailing lists and more!"
        url="../../../assets/img/layers/img-14.png"
      />
      <app-card
        class="card bg-2 card-2"
        titulo="Automatically solve common issues with Atom skills"
        descricao="Unburden your IT team and enable your employees to help themselves through AI skills. Atom can reset passwords, unlock accounts, troubleshoot VPN issues, add users to mailing lists and more!"
        url="../../../assets/img/layers/img-15.png"
      />
      <app-card
        class="card all-padding bg-2 card-3"
        titulo="Automatically solve common issues with Atom skills"
        descricao="Unburden your IT team and enable your employees to help themselves through AI skills. Atom can reset passwords, unlock accounts, troubleshoot VPN issues, add users to mailing lists and more!"
        url="../../../assets/img/layers/img-16.png"
      />
      <app-card
        class="card all-padding bg-2 card-4"
        titulo="Automatically solve common issues with Atom skills"
        descricao="Unburden your IT team and enable your employees to help themselves through AI skills. Atom can reset passwords, unlock accounts, troubleshoot VPN issues, add users to mailing lists and more!"
        url="../../../assets/img/layers/img-17.png"
      />
      <app-card
        class="card all-padding bg-2 card-5"
        titulo="Automatically solve common issues with Atom skills"
        descricao="Unburden your IT team and enable your employees to help themselves through AI skills. Atom can reset passwords, unlock accounts, troubleshoot VPN issues, add users to mailing lists and more!"
        url="../../../assets/img/layers/img-18.png"
      />
      <app-card
        class="card all-padding bg-2 card-6"
        titulo="Automatically solve common issues with Atom skills"
        descricao="Unburden your IT team and enable your employees to help themselves through AI skills. Atom can reset passwords, unlock accounts, troubleshoot VPN issues, add users to mailing lists and more!"
        url="../../../assets/img/layers/img-19.png"
      />
    </app-grid-cards>
  </div>
</app-container>
