<app-container fundo="black image-2">
  <div class="container">
    <app-texto-destaque
      tag="The atomicwork platform"
      titulo="A single powerful platform for all your enterprise service needs"
      subtitulo="Bring all of your internal processes together and align them with your business objectives. Deploy a single solution that works for all of your teams and departments."
    />
    <app-grid-cards grid="grid-4">
      <app-card
        class="card bg-2 card-1"
        titulo="Seamlessly plug Atomicwork into your apps"
        descricao="Get more power out of your tools and trigger critical workflows, saving your team time and energy."
        url="../../../assets/img/layers/img-14.png"
      />
      <app-card
        class="card bg-2 card-2"
        titulo="Make smarter decisions with insights"
        descricao="The best decisions are data driven. Track your team's impact and identify improvement areas through insights."
        url="../../../assets/img/layers/img-15.png"
      />
      <app-card
        class="card all-padding bg-2 card-3"
        titulo="Flexible workspaces"
        descricao="Empower every team to run their processes with custom settings and workflows."
        url="../../../assets/img/layers/img-16.png"
      />
      <app-card
        class="card all-padding bg-2 card-4"
        titulo="Granular permissions"
        descricao="Give least privilege access and permissions to make sure there's no data leaks."
        url="../../../assets/img/layers/img-17.png"
      />
      <app-card
        class="card all-padding bg-2 card-5"
        titulo="Employee directory"
        descricao="Everything you need to know about all your employees and their requests."
        url="../../../assets/img/layers/img-18.png"
      />
      <app-card
        class="card all-padding bg-2 card-6"
        titulo="Managed security"
        descricao="Keep your logins simple and unsilly by enabling sign-on for your agents and end users."
        url="../../../assets/img/layers/img-19.png"
      />
    </app-grid-cards>
  </div>
</app-container>
