<app-container fundo="purple">
  <div class="container">
    <app-texto-destaque
      tag="IT service desk"
      titulo="Maximize service efficiency. Minimize frustration."
      subtitulo="Atomicwork is a modern IT service desk that offers a hassle-free experience to your end users as well as your HR and IT teams by streamlining requests, incidents and assets."
    />
    <app-grid-cards grid="grid-2">
      <app-card
        class="card bg-1 card-1"
        titulo="Fulfill service requests"
        descricao="Give your end users access to any business service they need through Atom."
        url="../../../assets/img/layers/img-6.png"
      />
      <app-card
        class="card bg-1 card-2"
        titulo="Manage your hardware and software assets"
        descricao="Give your admins control over managed and unmanaged asset allocation, tracking, lifecycle and ownership."
        url="../../../assets/img/layers/img-7.png"
      />
      <app-card
        class="card bg-1 card-3"
        titulo="Troubleshoot incidents swiftly"
        descricao="Act fast, minimize impact and create consistency by managing incidents from Atomicwork. Identify incidents, setup workflows and provide updates with ease."
        url="../../../assets/img/layers/img-8.png"
      />
      <app-card
        class="card bg-1 card-4"
        titulo="Implement changes smoothly"
        descricao="Make change transitions with minimal disruption, high adoption rates, and enhanced organizational resilience."
        url="../../../assets/img/layers/img-9.png"
      />
    </app-grid-cards>
  </div>
</app-container>
