<app-container>
  <div class="container">
    <app-texto-destaque
      tag="IT workflow automation"
      titulo="Unlock productivity at scale with integration and automation"
      subtitulo="Automate every IT interaction and save time every day for your end users and support teams. Turn everything from one-off interactions to complex processes into repeatable workflows."
    />
    <app-grid-cards grid="grid-3">
      <app-card
        class="card bg-3 card-1"
        titulo="Build workflows without code"
        descricao="Take the busywork out of your end users' lives so they can focus on their jobs without having to babysit processes or manage your EX stack."
        url="../../../assets/img/layers/img-10.png"
      />
      <app-card
        class="card bg-3 card-2"
        titulo="Provision software with a click"
        descricao="Manage user accounts across your apps automagically, without having to lift a finger."
        url="../../../assets/img/layers/img-11.png"
      />
      <app-card
        class="card bg-3 card-3"
        titulo="Get approvals without hassle"
        descricao="Accelerate service requests by automating approvals and followups through Atom."
        url="../../../assets/img/layers/img-12.png"
      />
      <app-card
        class="card bg-3 card-4"
        titulo="Automatically solve common issues with Atom skills"
        descricao="Unburden your IT team and enable your employees to help themselves through AI skills. Atom can reset passwords, unlock accounts, troubleshoot VPN issues, add users to mailing lists and more!"
        url="../../../assets/img/layers/img-13.png"
      />
    </app-grid-cards>
  </div>
</app-container>
